*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/PINumber/build/
/PINumberOOP/nbproject/private/
/PINumberOOP/build/
/Rectangles/nbproject/private/
/Rectangles/build/
/Expressions/nbproject/private/
/Expressions/build/
/Expressions/dist/
/CustomerDAO/nbproject/private/
/CustomerDAO/build/
/CustomerDAO/dist/
/MyArraySet/nbproject/private/
/MyArraySet/build/
/Storage/nbproject/private/
/Storage/build/