*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/PINumber/nbproject/private/
/PINumber/build/
/PINumber/dist/
/PINumberOOP/nbproject/private/
/PINumberOOP/build/
/PINumberOOP/dist/
/Rectangles/nbproject/private/
/Rectangles/build/
/Rectangles/dist/
/Expressions/nbproject/private/
/Expressions/build/
/Expressions/dist/
/CustomerDAO/nbproject/private/
/CustomerDAO/build/
/CustomerDAO/dist/
/MyArraySet/nbproject/private/
/MyArraySet/build/
/MyArraySet/dist/
/Storage/nbproject/private/
/Storage/build/
/Scanners/nbproject/private/
/Scanners/build/
/Scanners/dist/
/JavFXHW/nbproject/private/
/JavFXHW/build/
/JavFXHW/dist/
/Semaphor/nbproject/private/
/Semaphor/build/
/Semaphor/dist/
/CustomersWSClient/nbproject/private/
/CustomersWSClient/dist/
/CustomersWSClient/build/
/JaxbHW/nbproject/private/
/JaxbHW/build/
/JavaApplication12/nbproject/private/
/JavaFXClient/nbproject/private/
/JavaFXClient/build/
/UDPDataServer/nbproject/private/
/UDPDataServer/build/
/JavaFXClient/dist/
/UDPDataServer/dist/